ion-title{
    text-align: center;
}
ion-item ion-icon{
    padding-right: 10px;
}
ion-avatar{
    animation-name: avatar;
    animation-duration: 2s;
    :hover{
        opacity: 95%; 
        cursor: pointer;
    }
    @keyframes avatar {
        0% {
            box-shadow: gray 0 0 20px;
        }
        100% {
            box-shadow: gray 0 0 0;
        }
    }
}
ion-grid{
    max-width: 600px;
    opacity: 100%;
    animation-name: items;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    @keyframes items {
        0% {
            opacity: 0;
            transform: translateX(10%);
        }
        100% {
            opacity: 100%;
            transform: translateX(0);
        }
    }
}